In [1]:
pwd

'/Users/tarapongsrisongkram/OneDrive - Khon Kaen University (1)/Amylase inhibitor/Python'

In [2]:
import numpy as np
import pandas as pd
import scipy.stats
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

In [9]:
df= pd.read_csv('df_bioactivities.csv', index_col='Names')
df

,Emax_amylase_1,Emax_amylase_2,Emax_amylase_3,IC50_amylase_1,IC50_amylase_2,IC50_amylase_3,Emax_glucosidase_1,Emax_glucosidase_2,Emax_glucosidase_3,IC50_glucosidase_1,IC50_glucosidase_2,IC50_glucosidase_3
Names,,,,,,,,,,,,
G_cowa,99.759423,99.438653,99.518845,0.133532,0.133488,0.132589,51.121951,51.560976,50.682927,0.630757,0.608844,0.644284
P_debilis,99.358460,99.679230,99.438653,0.136870,0.137005,0.136889,50.024390,50.097561,49.878049,0.697793,0.727287,0.731095
P_evecta_leaf,93.825180,93.905373,93.825180,0.136675,0.134144,0.134566,51.780488,52.000000,52.073171,0.575490,0.572706,0.566192
P_evecta_Rhizome,36.086608,35.124298,36.086608,NaN,NaN,NaN,50.317073,50.902439,50.463415,0.641052,0.591333,0.652540
E_cuneatum,86.447474,86.447474,86.607859,0.171532,0.164251,0.186663,39.487805,39.560976,39.707317,NaN,NaN,NaN
P_anamense,35.364876,35.124298,34.803528,NaN,NaN,NaN,54.268293,54.195122,55.073171,0.531791,0.523259,0.511069
A_marginata,15.958300,16.038492,16.118685,NaN,NaN,NaN,37.512195,37.731707,37.439024,NaN,NaN,NaN
E_cherrevensis,77.786688,77.947073,77.546111,0.176733,0.182894,0.173494,39.634146,39.707317,40.146341,NaN,NaN,NaN
F_indica,84.522855,84.362470,84.442662,0.158998,0.163765,0.154956,38.902439,39.121951,39.268293,NaN,NaN,NaN
H_perforata,34.803528,35.364876,35.284683,NaN,NaN,NaN,40.512195,39.926829,39.195122,NaN,NaN,NaN
R_dumetorum,30.312751,30.152366,30.553328,NaN,NaN,NaN,9.634146,10.585366,11.243902,NaN,NaN,NaN
C_filiformis,35.284683,35.685646,35.846030,NaN,NaN,NaN,36.853659,36.195122,37.000000,NaN,NaN,NaN
P_Kesiya,94.947875,95.028067,94.867682,0.110735,0.110631,0.112672,52.365854,52.292683,52.292683,0.596355,0.586174,0.613579
A_pulchellus,24.859663,24.298316,24.859663,NaN,NaN,NaN,15.926829,15.707317,15.926829,NaN,NaN,NaN
T_loureiri,47.313553,47.473937,47.233360,NaN,NaN,NaN,20.682927,20.463415,20.390244,NaN,NaN,NaN
R_succedanea,29.831596,29.911788,29.991981,NaN,NaN,NaN,31.439024,31.658537,31.731707,NaN,NaN,NaN
R_javanica,82.036889,82.117081,82.117081,0.135099,0.136926,0.135988,38.829268,38.756098,38.975610,NaN,NaN,NaN
C_formosum,87.249399,86.848436,87.008821,0.165075,0.161986,0.172439,49.878049,50.756098,50.170732,0.627348,0.634788,0.685348
G_daltonii,27.425822,25.180433,29.430634,NaN,NaN,NaN,37.804878,37.658537,37.365854,NaN,NaN,NaN
B_anceps,13.151564,13.071371,13.472334,NaN,NaN,NaN,39.780488,38.756098,38.902439,NaN,NaN,NaN
C_tomentosa,21.331195,23.496391,19.085806,NaN,NaN,NaN,33.926829,33.414634,34.219512,NaN,NaN,NaN
D_castanea_twig,42.341620,41.619888,42.261427,NaN,NaN,NaN,29.609756,29.536585,29.902439,NaN,NaN,NaN
D_castanea_leaf,84.202085,84.282277,83.961508,0.161299,0.161509,0.160221,20.682927,20.902439,20.975610,NaN,NaN,NaN
L_coromandelica,29.991981,29.671211,29.911788,NaN,NaN,NaN,31.292683,31.585366,31.292683,NaN,NaN,NaN
E_succirubrum,35.525261,35.204491,35.364876,NaN,NaN,NaN,32.682927,32.609756,32.243902,NaN,NaN,NaN
T_mucronata,95.829992,95.669607,95.589415,0.156587,0.154551,0.156910,9.268293,9.487805,10.219512,NaN,NaN,NaN
D_winitii,93.424218,93.183641,93.183641,0.118879,0.119152,0.118391,39.487805,39.780488,39.853659,NaN,NaN,NaN
B_insulana,92.060946,91.980754,92.782678,0.158688,0.157088,0.163883,34.146341,32.536585,31.439024,NaN,NaN,NaN
A_vanprukii,27.105052,27.185245,27.425822,NaN,NaN,NaN,30.560976,30.926829,30.780488,NaN,NaN,NaN
T_triptera,33.360064,33.440257,33.520449,NaN,NaN,NaN,32.756098,32.536585,32.463415,NaN,NaN,NaN
C_oblongifolius,12.269447,12.510024,12.991179,NaN,NaN,NaN,53.097561,52.219512,53.682927,0.498516,0.530108,0.439253

In [23]:
indices = df.index

In [55]:
Emax_amylase = ['Emax_amylase_1', 'Emax_amylase_2','Emax_amylase_3']
df_Emax_amylase = pd.DataFrame(df[Emax_amylase], index=indices)
#convert matrix to list of edges and rename the columns
dft_Emax_amylase = df_Emax_amylase.stack().reset_index()
dft_Emax_amylase.columns = ['Names','Bioactivities','Emax_amylase']
df_Emax_amylase_for_stat = dft_Emax_amylase.drop('Bioactivities', axis=1)
df_Emax_amylase_for_stat = df_Emax_amylase_for_stat.set_index('Names')
df_Emax_amylase_for_stat

                 Emax_amylase
Names
G_cowa              99.759423
G_cowa              99.438653
G_cowa              99.518845
P_debilis           99.358460
P_debilis           99.679230
...                       ...
T_triptera          33.440257
T_triptera          33.520449
C_oblongifolius     12.269447
C_oblongifolius     12.510024
C_oblongifolius     12.991179

[93 rows x 1 columns]

In [56]:
Emax_glucosidase = ['Emax_glucosidase_1', 'Emax_glucosidase_2','Emax_glucosidase_3']
df_Emax_glucosidase = pd.DataFrame(df[Emax_glucosidase], index=indices)
dft = df_Emax_glucosidase.stack().reset_index()
dft.columns = ['Names','Bioactivities','Emax_glucosidase']
df_Emax_glucosidase_for_stat = dft.drop('Bioactivities', axis=1)
df_Emax_glucosidase_for_stat = df_Emax_glucosidase_for_stat.set_index('Names')
df_Emax_glucosidase_for_stat

                 Emax_glucosidase
Names
G_cowa                  51.121951
G_cowa                  51.560976
G_cowa                  50.682927
P_debilis               50.024390
P_debilis               50.097561
...                           ...
T_triptera              32.536585
T_triptera              32.463415
C_oblongifolius         53.097561
C_oblongifolius         52.219512
C_oblongifolius         53.682927

[93 rows x 1 columns]

In [80]:
IC50_amylase = ['IC50_amylase_1', 'IC50_amylase_2','IC50_amylase_3']
df_IC50_amylase = pd.DataFrame(df[IC50_amylase], index=indices)
#convert matrix to list of edges and rename the columns
dft_IC50_amylase = df_IC50_amylase.stack().reset_index()
dft_IC50_amylase.columns = ['Names','Bioactivities','IC50_amylase']
df_IC50_amylase_for_stat = dft_IC50_amylase.drop('Bioactivities', axis=1)
df_IC50_amylase_for_stat = df_IC50_amylase_for_stat.set_index('Names')
df_IC50_amylase_for_stat.to_csv('IC50_amylase.csv')
df_IC50_amylase_for_stat

                 IC50_amylase
Names
G_cowa               0.133532
G_cowa               0.133488
G_cowa               0.132589
P_debilis            0.136870
P_debilis            0.137005
P_debilis            0.136889
P_evecta_leaf        0.136675
P_evecta_leaf        0.134144
P_evecta_leaf        0.134566
E_cuneatum           0.171532
E_cuneatum           0.164251
E_cuneatum           0.186663
E_cherrevensis       0.176733
E_cherrevensis       0.182894
E_cherrevensis       0.173494
F_indica             0.158998
F_indica             0.163765
F_indica             0.154956
P_Kesiya             0.110735
P_Kesiya             0.110631
P_Kesiya             0.112672
R_javanica           0.135099
R_javanica           0.136926
R_javanica           0.135988
C_formosum           0.165075
C_formosum           0.161986
C_formosum           0.172439
D_castanea_leaf      0.161299
D_castanea_leaf      0.161509
D_castanea_leaf      0.160221
T_mucronata          0.156587
T_mucronata          0.154551
T_mucronata          0.156910
D_winitii            0.118879
D_winitii            0.119152
D_winitii            0.118391
B_insulana           0.158688
B_insulana           0.157088
B_insulana           0.163883

In [81]:
IC50_glucosidase = ['IC50_glucosidase_1', 'IC50_glucosidase_2','IC50_glucosidase_3']
df_IC50_glucosidase = pd.DataFrame(df[IC50_glucosidase], index=indices)
#convert matrix to list of edges and rename the columns
dft_IC50_glucosidase = df_IC50_glucosidase.stack().reset_index()
dft_IC50_glucosidase.columns = ['Names','Bioactivities','IC50_glucosidase']
df_IC50_glucosidase_for_stat = dft_IC50_glucosidase.drop('Bioactivities', axis=1)
df_IC50_glucosidase_for_stat = df_IC50_glucosidase_for_stat.set_index('Names')
df_IC50_glucosidase_for_stat.to_csv('IC50_glucosidase.csv')
df_IC50_glucosidase_for_stat

                  IC50_glucosidase
Names
G_cowa                    0.630757
G_cowa                    0.608844
G_cowa                    0.644284
P_debilis                 0.697793
P_debilis                 0.727287
P_debilis                 0.731095
P_evecta_leaf             0.575490
P_evecta_leaf             0.572706
P_evecta_leaf             0.566192
P_evecta_Rhizome          0.641052
P_evecta_Rhizome          0.591333
P_evecta_Rhizome          0.652540
P_anamense                0.531791
P_anamense                0.523259
P_anamense                0.511069
P_Kesiya                  0.596355
P_Kesiya                  0.586174
P_Kesiya                  0.613579
C_formosum                0.627348
C_formosum                0.634788
C_formosum                0.685348
C_oblongifolius           0.498516
C_oblongifolius           0.530108
C_oblongifolius           0.439253

In [76]:
df_Emax = pd.concat([df_Emax_amylase_for_stat, df_Emax_glucosidase_for_stat], axis=1)

In [78]:
df_Emax.to_csv('Emax_all.csv')
df_Emax

                 Emax_amylase  Emax_glucosidase
Names
G_cowa              99.759423         51.121951
G_cowa              99.438653         51.560976
G_cowa              99.518845         50.682927
P_debilis           99.358460         50.024390
P_debilis           99.679230         50.097561
...                       ...               ...
T_triptera          33.440257         32.536585
T_triptera          33.520449         32.463415
C_oblongifolius     12.269447         53.097561
C_oblongifolius     12.510024         52.219512
C_oblongifolius     12.991179         53.682927

[93 rows x 2 columns]