In [3]:
import numpy as np
import pandas as pd
import scipy.stats
from scipy import stats
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

In [5]:
df_Emax = pd.read_csv('Emax_all.csv')

In [6]:
df_Emax

              Names  Emax_amylase  Emax_glucosidase
0            G_cowa     99.759423         51.121951
1            G_cowa     99.438653         51.560976
2            G_cowa     99.518845         50.682927
3         P_debilis     99.358460         50.024390
4         P_debilis     99.679230         50.097561
..              ...           ...               ...
88       T_triptera     33.440257         32.536585
89       T_triptera     33.520449         32.463415
90  C_oblongifolius     12.269447         53.097561
91  C_oblongifolius     12.510024         52.219512
92  C_oblongifolius     12.991179         53.682927

[93 rows x 3 columns]

In [2]:
pwd

'/Users/tarapongsrisongkram/OneDrive - Khon Kaen University (1)/Amylase inhibitor/Python'